<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
          alt="Sample image">
      </div>
      <mat-card class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in</p>
          </div> <br>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="login-username" formControlName="username" class="form-control"
              placeholder="Enter your username" />
            <label class="form-label" for="username">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="login-password" class="form-control form-control-lg"
              placeholder="Enter password" formControlName="password">
            <label class="form-label" for="password">Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button mat-raised-button type="submit" class="btn btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" color="primary" >Login</button>
            <h3 class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/register"
                class="link-danger">Register</a></h3>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</section>
