<div class="container">
  <mat-card>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="newComment()">
      <input matInput formControlName="userId" type="number" class="form-control" value={{userId}} hidden>

      <input matInput type="text" formControlName="username" class="form-control" value={{username}} hidden>
      <mat-form-field class="input-full-width" appearance="fill">
        <mat-label>Comment</mat-label>
        <input matInput placeholder="Write comment..." type="text" formControlName="commentBody" class="form-control">
      </mat-form-field>
      <button mat-raised-button type="submit" class="mt-5" color="primary">Submit</button>
    </form>
  </mat-card>
</div>
