<div *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <app-user-card [user]="user" class="col"></app-user-card>
          <app-manage-friend [otherUserId]="user.id"></app-manage-friend>
        </div>
        <br>
        <div>
          <h3>Friends</h3>
          <app-friend-list *ngIf="user.friends" [friends]="user.friends" ></app-friend-list>
        </div><br>
        <div class="row"></div>
      </div>
      <div class="col-md-8">
        <app-add-post *ngIf="user.id==authService.currentUser.id"></app-add-post><br
          *ngIf="user.id==authService.currentUser.id">
        <div *ngFor="let post of user.posts" class="row justify-content-md-center">
          <app-posts [post]="post" class="col"></app-posts>
        </div>
      </div>
    </div>
  </div>
</div>
