<mat-card *ngIf="user" class="container">
  <div class="row">
    <div class="col-align-center">
      <img class="thumb96"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Contact">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user.aboutMe}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.phoneNumber}}</mat-card-subtitle>
      <mat-card-subtitle>{{user.state}}, {{user.country}}</mat-card-subtitle>
    </div>
  </div>
</mat-card>
