h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
  }
  nav {
    text-align: center;
  }

  mat-sidenav-container, mat-sidenav-content, mad-sidenav {
    height: 100%;
  }

  mat-sidenav {
    width: 250px;
  }

  main {
    padding: 10px;
  }

